@import url('https://fonts.googleapis.com/css?family=Montserrat');

.btn{
    color: black;
background-color: white;
 border-color: grey;
 font-family: Montserrat;
}
.btn:hover{
    background-color: white; 
    color: black;
}
.navbar{
    webkit-box-shadow: 2px 1px 1px yellow;
    -moz-box-shadow:    1px 1px 1px red;
    box-shadow:         1px 4px 1px red;
    z-index:999;

    
}
.navbartitle{
    font-family: Montserrat;
    color: white;
    
}
.header{
    background: red;
    

}

.descriptionsite{
    font-family: Montserrat;
    color: black;
    padding-top: 260px;
    padding-left: 20px;
    font-size: 35px;
    font-weight: 600;
}
.banner{
padding-bottom: 165px;
background: linear-gradient(to bottom, red 9%,orange 100%,yellow 100%); /* W3C */
}
.rounded {
    width: 460px;
    padding-top: 150px;
}

.opentext{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    padding-top: 250px;
    color: white;
    padding-left: 35;
}
.descriptiontext{
    font-family:Montserrat;
    padding-left: 45px;
    font-size: 20px;
    color: white;
}
